html {

	--primary-bg-color: #161625;

	/* Primary Colors */
	--primary-red: #e34a27;
	--primary-green: #579842;
	--primary-yellow: #c29712;
	--primary-blue: #174ea0;
	--primary-gray: #6b747c;
	--primary-text-color: #cfd6e0 ;
	--primary-light-blue: #69dafb;
	
	/* Navbar colors */
	--navbar-bg-color: #1e1e30;
	--navbar-ele-bg-color: #1e1e30;
	--navbar-ele-txt-color:yellow;
	--navbar-ele-hover-bg-color: rgb(248, 218, 218);
	--navbar-ele-hover-txt-color: rgb(0, 0, 0);

}

* {

	padding: 0px;
	margin: 0px;
}

body {
	background-color: var(--primary-bg-color);
}